html {
  color-scheme: light dark;
}

layer {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.background {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-areas: "background-image";

    .background-image {
      grid-area: background-image;
      background-size: cover;
      background-position: bottom;

      &.dark {
        background-image: url("img/dark/background.jpg");
      }
      &.light {
        background-image: url("img/light/background.jpg");
      }
    }
  }

  &.interact {
    grid-template-columns: auto min(90%, 40em) auto;
    grid-template-rows: 2% auto auto;
    grid-template-areas:
      ". . ."
      ". title ."
      ". . .";

    .title {
      grid-area: title;
      position: relative;

      aspect-ratio: 1;


      .link {
        position: absolute;
        transition: filter 0.5s ease-out;

        filter: invert(84%) sepia(89%) saturate(6858%) hue-rotate(356deg) brightness(99%) contrast(115%);

        &.dark {
          &:hover {
            filter: invert(0);
          }
        }
        
        &.light {
          &:hover {
            filter: invert(1);
          }
        }


        &.sell {
          width: 30%;
          left: 0%;
          top: 4%;
        }

        &.everything {
          width: 68%;
          right: 0%;
          top: 0%;
        }
      }

      .modeswitcher {
        position: absolute;
        top: 18%;
        left: 40%;
        width: 20%;
        aspect-ratio: 1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.dark {
          background-image: url('img/links/sun.png');
        }

        &.light {
          background-image: url('img/links/moon.png');
        }
      }
    }
  }

  &.decal {
    grid-template-columns: 1fr 10fr 1fr;

    &.light {
      grid-template-rows: 10% auto auto;
      grid-template-areas:
        ". . ."
        ". object ."
        ". . .";

      .decal-image {
        display: none;
      }
    }

    &.dark {
      grid-template-rows: 10% 1fr;
      grid-template-areas:
        ". . ."
        "image image image";

      .object-wrap {
        z-index: -1000;
      }
    }

    .object-wrap {
      grid-area: object;
      position: relative;
      aspect-ratio: 0.9;
      pointer-events: none;

      #object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: all;
      }
    }

    .decal-image {
      grid-area: image;
      background-image: url("img/dark/sketch.png");
      background-size: cover;
      background-position: 0% -50%;
      background-repeat: no-repeat;
    }

    .background-reoverlay {
      &.light {
        display: none;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0px;
      background: url("img/dark/bg-overlay.png") no-repeat;
      background-size: min(50vw, 50vh);
      background-position: bottom right;
    }
  }
}
